<!--

{{tweet.body}}
<like [isLiked]="tweet.isLiked"
[likesCount]="tweet.likesCount"
(liked)="onTweetLike()"
></like>

<authors></authors>


<input type="text" [style.width.px]="510" [(ngModel)]="tweet.body"/>
<br>
{{tweet.body | customTitleCase| summary:'1':'60'}}

<app-panel>
    <ng-container class="heading">Heading</ng-container>
    <ng-container class="body">
        <h2>Body </h2>
        <p>Some content here..</p>
    </ng-container>
</app-panel>

<!-- custom directive 
<input type="text" [InputFormat]="'uppercase'" />

<zippy title="Shipping Details">
        {{tweet.body}}
</zippy>

<signup-form></signup-form>


<new-course-form></new-course-form>
-->
<change-password>
    
</change-password>