<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form
                [formGroup]="myReactiveForm"
                (ngSubmit)="onSubmit()"
            >
                <div formGroupName="userData">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input
                            type="text"
                            id="username"
                            class="form-control"
                            formControlName="username"
                        >
                        <span
                            class="help-block"
                            *ngIf="!username.valid && username.touched"
                        >
                            <span *ngIf="username.errors['nameIsForbidden']">This name is invalid!</span>
                            <span *ngIf="username.errors['required']">This field is required!</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input
                            type="text"
                            id="email"
                            class="form-control"
                            formControlName="email"
                        >
                        <span
                            class="help-block"
                            *ngIf="!email.valid && email.touched"
                        >
                            Please enter a valid email
                        </span>
                    </div>
                </div>
                <div
                    class="radio"
                    *ngFor="let gender of genders"
                >
                    <label>
                        <input
                            type="radio"
                            formControlName="gender"
                            [value]="gender"
                        >
                        {{ gender }}
                    </label>
                </div>

                <div formArrayName="hobbies">
                    <h4>Your hobbies!</h4>
                    <button
                        class="btn btn-default"
                        type="button"
                        (click)="onAddHobby()"
                    >
                        Add hobby
                    </button>
                    <div
                        class="form-group"
                        *ngFor="let hobbyControl of myReactiveForm.get('hobbies').controls;let i=index"
                    >
                        <input
                            type="text"
                            class="form-control"
                            [formControlName]="i"
                        >
                    </div>
                </div>
                <button
                    [disabled]="!myReactiveForm.valid"
                    class="btn btn-primary"
                    type="submit"
                >
                    Submit
                </button>
                <span
                    class="help-block"
                    *ngIf="!myReactiveForm.valid && myReactiveForm.touched"
                >
                    Invalid form
                </span>
            </form>

        </div>
    </div>
</div>
